.row {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.column-half,
.column-third {
  flex-basis: 100%;
}

.column-half-menu {
  flex-basis: 50%;
}

.column-third {
  display: flex;
  justify-content: space-between;
}

.img-holder {
  flex-basis: 30%;
}

.content-holder {
  flex-basis: 65%;
}

/* Desktop */

@media screen and (min-width: 756px) {
  .container {
    width: 70%;
    margin: auto;
    padding: 0;
  }

  .row {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
  }

  .column-half {
    flex-basis: 50%;
  }

  .column-two-thirds {
    flex-basis: 64%;
  }

  .column-third {
    flex-basis: calc(100% / 3);
  }

  .align-center {
    align-items: center;
  }

  .space-between {
    justify-content: inherit;
  }
}
