@import "https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@300&family=Josefin+Sans:wght@300;400;600&family=Poppins:wght@100;400;600;700&display=swap";

body {
  font-family: Inter, sans-serif;
}

.container {
  height: 100vh;
  padding: 0.5rem;
  margin: auto;
}

.desktop {
  display: none;
}

img.mobile {
  width: 100%;
}

/* off */
.off {
  display: none;
}

.menu-content,
.on {
  padding: 2rem 1rem;
  position: fixed;
  right: 0;
  top: 0;
  bottom: 0;
  width: 13rem;
  background-color: rgb(255 255 255);
}

.menu-div-mobile,
.on {
  position: fixed;
  right: 15rem;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0 0 0 / 60%);
}

.p-menu {
  font-size: 1.3rem;
  color: hsl(240deg, 100%, 5%);
  margin: 2rem 0;
}

.p-holder {
  margin: 5rem 0.5rem;
}

div.logo {
  margin: 1rem 0;
}

div.logo img {
  width: 30%;
}

div.menu-bars {
  text-align: end;
}

p {
  color: hsl(236deg, 13%, 42%);
  line-height: 1.5rem;
  font-size: 1rem;
  font-weight: 100;
}

.h1-header {
  font-size: 3rem;
  line-height: 2.6rem;
  margin-bottom: 0;
}

button {
  border: none;
  background-color: hsl(5deg, 85%, 63%);
  color: white;
  padding: 1rem 2rem;
  letter-spacing: 0.25rem;
  text-transform: uppercase;
  cursor: pointer;
}

button:hover {
  background-color: hsl(240deg, 100%, 5%);
}

.dark-background-div {
  background-color: hsl(240deg, 100%, 5%);
  color: hsl(36deg, 100%, 99%);
  padding: 1rem;
  margin: 4rem 0;
}

.dark-background-div h1 {
  color: hsl(35deg, 77%, 62%);
  margin-top: 0.8rem;
}

.dark-background-div h3 {
  font-size: 1.4rem;
  margin-bottom: 0;
}

div.dark-background-div p {
  margin-top: 0.8rem;
  margin-bottom: 2rem;
}

.margin {
  margin: 1rem 0;
}

div.img-holder img {
  width: 100%;
}

div.content-holder h1 {
  color: hsl(233deg, 8%, 79%);
  margin: 0 0 0.5rem;
}

div.content-holder h4 {
  font-size: 1.3rem;
  margin: 0 0 0.5rem;
}

div.content-holder p {
  margin: 0 0 0.5rem;
}

/* Desktop */
@media screen and (min-width: 756px) {
  .mobile {
    display: none;
  }

  .desktop {
    display: block;
  }

  .d-none {
    display: block;
  }

  .logo {
    width: 40%;
  }

  .menu-div {
    text-align: end;
  }

  div.menu-bars img {
    display: none;
  }

  img.desktop {
    width: 100%;
  }

  .dark-background-div {
    margin: 0;
  }

  .dark-background-div h1 {
    font-size: 2.2rem;
    letter-spacing: 0.17rem;
  }

  .margin {
    margin: 4rem 0;
  }

  div.content-holder h4 {
    font-size: 1.1rem;
    cursor: pointer;
  }

  div.content-holder h4:hover {
    color: hsl(5deg, 85%, 63%);
  }

  div.content-holder p {
    font-size: 0.9rem;
  }

  .h1-header {
    font-size: 3.3rem;
    line-height: 3.3rem;
  }

  a {
    text-decoration: none;
    font-size: 1rem;
    color: hsl(236deg, 13%, 42%);
    margin-left: 2rem;
    cursor: pointer;
  }

  a:hover {
    color: hsl(5deg, 85%, 63%);
  }

  .menu {
    margin: 2rem 0;
  }
}
}
